.header{
    width: 100vw;
    height: 300px;
    background-image: url(/images/tic-tac-toe.png);
    background-color: darkkhaki;
    display: flex;
    justify-content: center;
}

.profile-pic{
    border-radius: 50%;    
    width: 300px;
    height: 300px;
    text-align: center;
    position: absolute;
    margin-top: 100px;
    border: 7px solid white;
    -webkit-box-shadow: 10px 11px 24px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 11px 24px -9px rgba(0,0,0,0.32);
    box-shadow: 10px 11px 24px -9px rgba(0,0,0,0.32);


}

.name{
    font-family: 'Roboto';
    text-align: center;
    font-size: 2em;
    padding: 120px 0 40px 0;
}

.container{
    
    background-color: #EFEFEF;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.friends{
    margin: 40px;
    text-align: center;
    margin: 30px 50px;
}

.friends-name {
    font-family: 'Roboto';
    padding-top: 20px;
}

.images-friends{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 7px solid white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-box-shadow: 10px 11px 24px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 11px 24px -9px rgba(0,0,0,0.32);
    box-shadow: 10px 11px 24px -9px rgba(0,0,0,0.32);
}

  .images-friends:hover, .images-friends:focus, .images-friends:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

h2{
    background-color: #EFEFEF ;
    text-align: center;
    padding-top: 40px;
    font-size: 1.5em;
}

.friends-container{
    
    background-color: rgb(1, 18, 19);
    // padding-top: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images-newfriends{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 4px solid white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 2px rgba(238, 238, 238, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-box-shadow: 10px 11px 24px -9px rgba(237, 237, 237, 0.32);
    -moz-box-shadow: 10px 11px 24px -9px rgba(255, 255, 255, 0.32);
    box-shadow: 10px 11px 24px -9px rgba(238, 238, 238, 0.32);
}

//   .images-newfriends:hover, .images-newfriends:focus, .images-newfriends:active {
//     -webkit-transform: scale(1.1);
//     transform: scale(1.1);
//   }

  .friends-new{
    margin: 40px;
    text-align: center;
    margin: 30px 50px;
    position: relative;
}

.friends-new:hover .overlay {
    opacity: 1;
  }

  .friends-newname {
    font-family: 'Roboto';
    padding-top: 20px;
    color: white;
}

.friend-suggestion{
    background-color: rgb(1, 18, 19) ;
    text-align: center;
    padding-top: 80px;
    font-size: 1.5em;
    color: white;
}

.overlay {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 142px;
  width: 142px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.495);
  border-radius: 50%;
  cursor: pointer;
}

.text {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto';
    width: 100%;
  }

  .add-friend-btn{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      bottom: 85px;
      right: -20px;
      cursor: pointer;
      color: red;
      font-size: 20px;
      transition: all .5s;
      border: none;
  }

  .add-friend-btn:hover{
      background-color: red;
      color: white;
  }


.input-value{
    display: none;
}
