<h2 class="friend-suggestion">Friend suggestions </h2>

<div class="friends-container">

    
    <% otherFriends.forEach(item =>{ %>
        <a href="/user/<%= item.id %>">
        <div class="friends-new">
    <img class="images-newfriends" src="<%=item.avatarUrl%>" alt="friends" />
        <div class="overlay">
            <div class="text"><%= item.name %></div>
        </div>
        </a>
        <form method="POST" action="/addFriend">
        <input type="text" class="input-value" name="newFriend" placeholder="name" value=<%= item.id %> />
        <input class="add-friend-btn" type="submit" name="buttonVALUE" value="♥" >
        
        
        </form>
        
</div>
    <% }); %>

</div>
