<h2 class="friend-suggestion">Friend suggestions </h2>

<div class="friends-container">

    <% let newcurrentUser = currentUser; %>
    <% /*newcurrentUser.friends.push(currentUser.id);*/ %>
    <% let currentUserIds = newcurrentUser.friends; %>
    <% let idFriend = []; %>
    <% for (items of users) { %>
    <% idFriend.push(items.id) %>
    <% }; %>
    <% let otherFriends = idFriend.filter(e => !currentUserIds.includes(e)) %>
    <% otherFriends = otherFriends.filter(e => !newcurrentUser.id.includes(e)) %>
    <% otherFriends.forEach(ids =>{ %>
    <% users.forEach(item => { %>
    <%  if (ids === item.id){ %>
        <a href="/user/<%= item.id %>">
        <div class="friends-new">
    <img class="images-newfriends" src="<%=item.avatarUrl%>" alt="firends" />
        <div class="overlay">
            <div class="text">Add<br> <%= item.name %><br>♥️</div>
        </div>
        </a>
</div>
    <% } %>
    <% });  %>
    <% }); %>

</div>

<%function addFriend(){ %>
   <% currentUser.friend.push(item.id); %>
   <%}; %>