<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="topBar">
        <img src="/images/friendface_logo.png" width="150px" alt="logo"/>
    </header>